# Line Numbers
set linenumbers

# Auto Indent
set autoindent

# Mouse Navigation
set mouse

# Word Wrap
set softwrap

# Smooth Scrolling
set smooth

# Syntax Highlighting
include "~/.nano/c.nanorc"
include "~/.nano/nano.nanorc"
include "~/.nano/html.nanorc"
include "~/.nano/csv.nanorc"
include "~/.nano/awk.nanorc"
include "~/.nano/css.nanorc"
include "~/.nano/conf.nanorc"
include "~/.nano/markdown.nanorc"
