# Line Numbers
set linenumbers

# Auto Indent
set autoindent

# Mouse Navigation
set mouse

# Word Wrap
set softwrap

# Smooth Scrolling
set smooth

# Tab Size
set tabsize 4
# set tabsize 2

# Tabs to Spaces
set tabstospaces

## Color Scheme
# Title Bar
set titlecolor yellow,red
# Status
set statuscolor black,yellow
# Key
set keycolor red,black
# Function
set functioncolor green,black
# Number
set numbercolor black,cyan

# Syntax Highlighting
include "~/.nano/c.nanorc"
include "~/.nano/nano.nanorc"
include "~/.nano/nanorc.nanorc"
include "~/.nano/html.nanorc"
include "~/.nano/csv.nanorc"
include "~/.nano/awk.nanorc"
include "~/.nano/css.nanorc"
include "~/.nano/conf.nanorc"
include "~/.nano/markdown.nanorc"
# Includes to be Updated: Javascript, Java, Python, YAML, XML, VI, TEX, SQL, Systemd, Shell, sed, awk, Powershell, MAN, JS, JSON
